* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container {
    background-color: #cacaca;
    padding: 50px;
    margin: 50px;
    display: flex;
    flex-direction: row-reverse;
    /*default set as row*/
    justify-content: space-between;
}

.item {
    background-color: chocolate;
    color: antiquewhite;
    font-size: 30px;
    padding: 20px;
    margin: 20px;
    border-radius: 10%;
}